@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

@media (min-width: 400px) /*DESKTOP*/{
   
    /*ESTILOS GERAIS PARA A PAGINA*/

    h1 {
         
        font-size: 30px;
       
    }

    h2 {
        transition: opacity .5s;
        font-size: 15px; 
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
    }
    
    ::-webkit-scrollbar {
        width: 10px; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: #6295a3;
        border-radius: 5px; 
    }
    
    
    ::-webkit-scrollbar-track {
        background: transparent; 
    }
    
    
    ::-webkit-scrollbar-thumb:hover {
        background: #e3cb33;
    }

    .audio-bt {
        margin: 5px;
        font-size: 20px;
        margin-left: 5px;
        border: double .5px transparent;
        cursor: pointer;
        transition: .3s;
        letter-spacing: 1px;
        padding: 3px;
        background-color: transparent;
        border-radius: 5px;
        text-decoration: none;
        position: fixed;
        bottom: 15px;
        left: 15px;
        opacity: .4;
        transition: .5s;
    }

    .audio-bt:active {
        transform: scale(90%);
    }

    
    .audio-bt:hover {
        opacity: 1;
    }

    .track {        
        position: fixed;
        bottom: 10px;
        left: 10px;
        opacity: .1;
        transition: .5s;
    }

    .track:hover{
        opacity: .8;
    }

    #returnHomeBt {
        animation: bounce 3s ease infinite;
        transition: 4s;
        background-color: transparent;
        font-size: 30px;
        margin-left: 5px;
        opacity: 0;
        display: block;
        color: rgb(49, 49, 49);
        border: none;
        transition:.3s;
        position: fixed;
        bottom: 15px;
        right: 20px;
        cursor: pointer;
    }

    #returnHomeBt:hover {
        color: #119fc4;
        opacity: 1;
    }

    @keyframes bounce {
        0% {
          transform: translateY(0);
         
        }   
        50% {
            transform: translateY(-20px); /* Mova para c     10 pixels */
             /* Opacidade de 0.5 (fade) */
          }
         
        }
       
    html {
        scroll-behavior: smooth;
    }

    * {
        padding: 0;
        margin: 0;
        font-family: 'Lato';
        text-decoration-color: transparent;
    }

    body {
        background-color: rgb(187, 194, 201);
        height: 100vh;
        width: 100%;
        color: black;
        transition: .5s;
    }

    /*ESTILOS PARA O CABEÇALHO*/

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(187, 194, 201, 0.5);
        z-index: 100; 

    }

    .header-box {
            padding-right: 20px;
            gap: 10px;
            padding-top: 20px;
            padding-bottom: 16px;
            text-align: right;
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: right;
    
    }

    .botaoheader {  
        margin: 5px;
        font-size: 20px;
        margin-left: 5px;
        border: double .5px transparent;
        
        cursor: pointer;
        transition: .5s;
        letter-spacing: 1px;
        padding: 3px;
        background-color: transparent;
        border-radius: 5px;  
       
    }

    .botaoheader:hover {
        text-decoration-line: underline;
        text-decoration-color: #119fc4;
        text-underline-offset:  1.6em;
        transform: translate(-3px,-3px);
        
        color:rgb(0, 0, 0);       
    }

    .sectionActive {
        text-decoration-line: underline;
        text-decoration-color: #e3cb33;
        text-underline-offset:  1.6em;
        transform: translate(-5px,-5px);
       
        color: rgb(0, 0, 0);
    }

    /*ESTILOS PARA SESSÃO PRINCIPAL*/

    #iconcode {
       width: 400px;
       transition: .3s;
       animation: bounce 4s ease infinite;
       
    }
     
    
    .home {
        display: flex;
        justify-content: space-around;   
        height: 750px;   
    }

    .botoes-home {
        display: flex;
        margin-left: 1.48em;
    }

    .botoes-home button {
        margin-right: 2px;
    }

     .home-box {
        width: 100%;
        margin-top: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        font-size: 30px;         
    }

    .about-text button {
        margin-left: 0;
        margin-right: 15px;
    }
    
    #name {
        color: #119fc4;
        transition: .4s;
        border: none;
        background-color: transparent;
    }
    
    #name-text {
        background-color: transparent;
        font-size: 2.5rem;
    }
    
    

    .spanDev::before {   
        text-align: right;  
        width: 6em;
        position: absolute;
        content: '';   
        color: #119fc4;
        animation: devcria 18s linear infinite;    
        transform: translate(-25px,0);  
    }

    .spanDev::after {
        position: absolute;
    
        content: ''; 
        color:  #e3cb33;
        transform: translate(225px,0);
        animation: idesoluc 12s linear infinite; 
    }

    .ct-skills {
        transform: translate(5.4em,-1.19em);
        position: absolute;
        width: 10em;
        height: 3em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        overflow: visible;
    }

    .ct-skills::before {
        
        content: 'com';
        transform: translate(-1.85em,0);
    }
    
    .spanSkill{
        
        transition: .5s;
        opacity: 0;
        position: absolute;
        margin-left: 8px;
        color: #119fc4;
    }

    
    
  
    @keyframes idesoluc {
        0% {
            content: 'soluções';
            opacity: 0;
        }
        5%{
            opacity: 1;
        }
        49%{
            opacity: 1;
        }
        50%{
           
            opacity: 0;
        }
        55%{
            opacity: 1;
        }
        100%{
            content: 'ideias';
        }
    }

    @keyframes devcria {
        0% {
            content: 'desenvolvo';
            opacity: 0;
        }
        5%{
            opacity: 1;
        }
        49%{
            opacity: 1;
        }
        50%{
           
            opacity: 0;
        }
        55%{
            opacity: 1;
        }
        100%{
            content: 'crio';

        }
                
    }
   


    .bt a {
        text-decoration: 0;
    }
    
   
    .botaobody {
        margin: 5px;
        font-size: 20px;
        margin-left: 5px;
        border: double .5px transparent;
        cursor: pointer;
        transition: .3s;
        letter-spacing: 1px;
        padding: 3px;
        background-color: transparent;
        border-radius: 5px;
        text-decoration: none;
    }
    
    
    .botaobody:hover {
        transform: translate(-5px,-5px);
        box-shadow: 5px 5px 10px rgba(#119fc4, 50%);    
        color: rgb(0, 0, 0);
    }
    

    .botaobody:active, .botaoheader:active {
        transform: scale(90%);
    }
    
    #botao {
        
        transition: .5;
    }
    
    #darkmode-bt {
        background-color: transparent;
        border: none;
        position: absolute;
        left: 15px;
        cursor: pointer;
        opacity: .4;
    }

    #darkmode-bt:hover {
        opacity: 1;
    }
    
    .darkmode {
        color: white;
        background-color: rgb(49, 49, 49);
    }

    .darkmodehd {
        background-color: rgba(49, 49, 49, 50%);
    }
    
    .darkmodebotoes {
        color: white;
    }

    #idadeAtual {
        
        width: 200px;
        cursor: help;
    }

    .printCodigo {
        box-shadow: 5px 5px 10px rgba(0,0,0,50%);
        border-radius: 5px;
        position: absolute;
        display: block;
        opacity: 0;
        visibility: visible;
        width: 700px;
        transform: translate(0, -20px);
        transition: opacity 0.5s, visibility 0.5s;
    }
    

    .about {
        
        margin: 0;
        justify-content: left;
        display: flex;
        height: 700px;      
        padding: 50px;       
    }
    
   .about-box {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    }
   
    #profile {
        margin: 0;
        height: 350px;
        width: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0,0,0,50%);
        
        
    }
  
    
    .about-text, .skill-text {
      margin-left: 3%;
      
    }

    #text-about {
        margin-bottom: 0 ;
    }

    .botoes-about {
        display: flex;
    }

    .skills {
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;          
        justify-content: space-around;        
    }
   
    .selected-icon {
        color: #119fc4;
    }
    
    .icons-table {
        color: rgb(49,49,49);
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;   
        margin-top: 20px;     
    }

    .icons-table i {
        font-feature-settings: "isol"; 
        
        font-size: 70px;
        margin: 10px;   
        transition: .3s; 
        cursor: pointer;
    }

    .icons-table i:hover {
        color: #119fc4;
        transform: scale(110%);        
    }

    .tabela-tecnologias {
        width: 500px;
    }

    .tecnologias {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 500px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .info-tecnologias {
        position: relative;
        justify-content: center;
        height: 10em;
        width: 100%;
        text-align: center;
    }

    .texto-tecnologias {
        
        position: absolute;
        align-items: center;
    }

    .projects {
            gap: 200px;
            width: 100%;
            height: 2200px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;            
    }

   .projeto {
    display: flex;
   }

    .slider {
        margin-right: 30px;
        margin-left: 30px;
        border-radius: 10px;
        margin-bottom: 15px;
        overflow: hidden;
        width: 400px;
        height: 300px;
        box-shadow: 5px 5px 10px rgba(36, 35, 43, 0.5);
    }

    .slides {
        border-radius: 10px;
        width: 400%;
        height: 300px;
        display: flex;
    }

    .slides input {
        display: none;
    }

    .slide {
        border-radius: 10px;
        width: 25%;
        position: relative;
        transition: 1s;
    }   

    .slide img {
        
        width: 400px;
        height: 100%;
    }

    .manual-navigation {
        position: absolute;
        width: 400px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid rgb(145, 145, 145);
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:hover {
        background-color: rgb(145, 145, 145);
    }

    .manual-btn:not(:last-child) {
        margin-right: 5px;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -25%;
    }
    #radio3:checked ~ .first{
        margin-left: -50%;
    }
    #radio4:checked ~ .first{
        margin-left: -75%;
    }

    #radio5:checked ~ .first{
        margin-left: 0;
    }
    #radio6:checked ~ .first{
        margin-left: -25%;
    }
    #radio7:checked ~ .first{
        margin-left: -50%;
    }
    #radio8:checked ~ .first{
        margin-left: -75%;
    }

    #radio9:checked ~ .first{
        margin-left: 0;
    }
    #radio10:checked ~ .first{
        margin-left: -25%;
    }
    #radio11:checked ~ .first{
        margin-left: -50%;
    }
    #radio12:checked ~ .first{
        margin-left: -75%;
    }

    #radio13:checked ~ .first{
        margin-left: 0;
    }
    #radio14:checked ~ .first{
        margin-left: -25%;
    }
    #radio15:checked ~ .first{
        margin-left: -50%;
    }
    #radio16:checked ~ .first{
        margin-left: -75%;
    }

    .navigation-auto div {
        border: 2px solid transparent;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 5px;
    }

    .navigation-auto {
        position: absolute;
        width: 400px;
        margin-top: 260px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto {
        margin-right: 10px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: rgb(145, 145, 145);
    }

    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: rgb(145, 145, 145);
    }

    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: rgb(145, 145, 145);
    }

    #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: rgb(145, 145, 145);
    }

    #radio5:checked ~ .navigation-auto .auto-btn5{
        background-color: rgb(145, 145, 145);
    }

    #radio6:checked ~ .navigation-auto .auto-btn6{
        background-color: rgb(145, 145, 145);
    }

    #radio7:checked ~ .navigation-auto .auto-btn7{
        background-color: rgb(145, 145, 145);
    }

    #radio8:checked ~ .navigation-auto .auto-btn8{
        background-color: rgb(145, 145, 145);
    }

    #radio9:checked ~ .navigation-auto .auto-btn9{
        background-color: rgb(145, 145, 145);
    }

    #radio10:checked ~ .navigation-auto .auto-btn10{
        background-color: rgb(145, 145, 145);
    }

    #radio11:checked ~ .navigation-auto .auto-btn11{
        background-color: rgb(145, 145, 145);
    }

    #radio12:checked ~ .navigation-auto .auto-btn12{
        background-color: rgb(145, 145, 145);
    }

    #radio13:checked ~ .navigation-auto .auto-btn13{
        background-color: rgb(145, 145, 145);
    }

    #radio14:checked ~ .navigation-auto .auto-btn14{
        background-color: rgb(145, 145, 145);
    }

    #radio15:checked ~ .navigation-auto .auto-btn15{
        background-color: rgb(145, 145, 145);
    }

    #radio16:checked ~ .navigation-auto .auto-btn16{
        background-color: rgb(145, 145, 145);
    }

    .botoes-projeto-left {
        width: 5rem;
    }

    .botoes-projeto-left button {
        margin-left: 0;
    }

    .botoes-projeto-right {
        position: absolute;
        right: 0;
        width: 11rem;
    }

    .descricao-projeto-left{
        display: block;
        text-align: left;
        justify-content: start;
        max-width: 600px;
    }

    .descricao-projeto-right{
        
        text-align: right;
        justify-content: right;
        max-width: 600px;
    }

    

    .contact {
        
        width: 100%;
        height: 900px;
        display: flex;
        place-items: center;
        text-align: center;
        text-align: center;
        justify-content: space-around; 
    }

    #iconbear {
        width: 300px;
        animation: bounce 4s ease infinite;
    }

    .btn-40,
    .btn-40 *,
    .btn-40 :after,
    .btn-40 :before,
    .btn-40:after,
    .btn-40:before {
      border: 0 solid;
      box-sizing: border-box;
      border-radius: 5px;
      
    }
    .btn-40 {
      -webkit-tap-highlight-color: transparent;
      background-color: transparent;
      background-image: none;
      color: rgb(49, 49, 49);
      cursor: pointer;
      font-size: 1.1rem;
      line-height: 1.5;
      margin: 7.5px;   
      border: 2px solid;
      box-sizing: border-box;
      
      overflow: hidden;
      padding: 1rem 5rem;
      position: relative;
      transition:  .5s;
    }
    
    
    .btn-40:disabled {
      cursor: default;
    }
    
    
    .btn-40 [hidden] {
      display: none;
    }


    .btn-40 {
      margin: 7.5px;   
      border: 2px solid;
      box-sizing: border-box;
      
      overflow: hidden;
      padding: 1rem 5rem;
      position: relative;
      transition:  .5s;
    }

    .btn-40:hover {
        transform: translate(-3px,-3px);
        box-shadow: 5px 5px 10px rgba(0,0, 0, 50%);
    }

    .btn-40:active {
        transform: scale(90%);
    }

    .btn-40 .new,
    .btn-40 .old {
      transition:  0.5s;
      
    }
    .btn-40 .old {
        font-style: bold;
      display: grid;
      inset: 0;
      font-style: bold;
      place-content: center;
      position: absolute;
    }
    .btn-40:hover .old {
      transform: translateY(100%);
    }
    .btn-40 .new {
        border-radius: 0;
      font-size: 1rem;
      background: rgb(49, 49, 49);
      color: rgb(187, 194, 201);
      display: grid;
      inset: 0;
      place-content: center;
      pointer-events: none;
      position: absolute;
      transform: translateX(-100%);
    }
    .btn-40:hover .new {
      transform: translateX(0);
    }

    .btn-40 i {
        font-size: 1.5em;
        color: #119fc4;
    }

    .info-contatos h1 {
        margin-bottom: 3rem;
    }

    .alert-copy {
       
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
        border-radius: 5px;
        position: fixed;
        right: 5%;
        background-color: rgb(104, 104, 104);
        bottom: 5%;
        padding: 10px;
        color: aliceblue;
        cursor: default;
        opacity: 0;
        transition: .5s;
    }

    
}

