@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

@media (min-width: 769px) /*DESKTOP*/{
   
    /*ESTILOS GERAIS PARA A PAGINA*/

   
    
    html {
        scroll-behavior: smooth;
    }

    * {
        padding: 0;
        margin: 0;
        font-family: 'Lato';
        text-decoration-color: transparent;
    }

    body {
        height: 100vh;
        width: 100%;
        color: black;
        transition: .5s;
    }

    /*ESTILOS PARA O CABEÇALHO*/

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, .5);
        z-index: 100; 

    }

    .header-box {
            
            gap: 10px;
            padding: 20px;
            text-align: right;
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: right;
    
    }

    .botaoheader {  
        margin: 5px;
        font-size: 20px;
        margin-left: 5px;
        border: double .5px transparent;
        background-color: white;
        cursor: pointer;
        transition: .3s;
        letter-spacing: 1px;
        padding: 3px;
        background-color: transparent;
        border-radius: 5px;
        text-decoration: none;

    }

    /*ESTILOS PARA SESSÃO PRINCIPAL*/

    #iconcode {
       width: 400px;
       transition: .3s;
    }
    
    #iconcode:hover {
        transform: scale(105%);
     }
   
    .home {
        display: flex;
        justify-content: space-around;   
        height: 100vh;   
    }

     .home-box {
        width: 100%;
        margin-top: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        font-size: 30px;
        
        
        
          
    }
    
    #name {
        color: aqua;
        cursor: pointer;
        transition: .4s;
        border: none;
        background-color: transparent;
    }
    
    #name-text {
        background-color: transparent;
    }
    
    #name:hover {
        outline: none;
        border: none;
        color: aqua;
        cursor: pointer;
        transform: translate(-1px,-1px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
        background-color: transparent;
    }    

    .bt a {
        text-decoration: 0;
    }
    
    .bt {
        position: absolute;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 11.5%;
    }
    
    .botaobody {
        margin: 5px;
        font-size: 20px;
        margin-left: 5px;
        border: double .5px transparent;
        background-color: white;
        cursor: pointer;
        transition: .3s;
        letter-spacing: 1px;
        padding: 3px;
        background-color: transparent;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .botaobody:hover, .botaoheader:hover{
        transform: translate(-1px,-1px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
        border: double .5px;
    }
    
    .botaobody:active, .botaoheader:active {
        transform: scale(90%);
    }
    
    #botao {
        
        transition: .5;
    }
    
    #darkmode-bt {
        background-color: transparent;
        border: none;
        position: absolute;
        left: 15px;
        cursor: pointer;
    }
    
    .darkmode {
        color: white;
        background-color: rgb(36, 35, 43);
    }

    .darkmodehd {
        background-color: rgba(36, 35, 43, 0.8);
    }
    
    .darkmodebotoes {
        color: white;
    }
    
    .about {
        margin: 0;
        justify-content: left;
        display: flex;
        height: 600p;       
        padding: 50px;       
    }
    
   .about-box {
    margin-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    }
   
    #profile {
        margin: 0;
        height: 350px;
        width: auto;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0,0,0,50%);
        border: double .5px;
        
    }
  
    
    .about-text, .skill-text {
      margin-left: 3%;
      
    }

    #text-about {
        margin-bottom: 140px ;
    }

    .skills {
        height: 800px;
        display: grid;
        place-items: center;
        text-align: center;
        text-align: center;
        justify-content: center;
        
    }

    .proficiencias {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        justify-content: center;
        align-items: center;
        
    }

    .backend-bar, .frontend-bar, .design-bar {        
        width: 900px;
        height: 10px;
        border-radius: 5px;
        background-color: aliceblue;
        margin-top: 8px;
    }

    .frontend-progress {
        width: 75%;
        height: 10px;
        border-radius: 5px;
        background-color: rgb(110, 110, 110); 
    }

    .design-progress {
        width: 60%;
        height: 10px;
        border-radius: 5px;
        background-color: rgb(110, 110, 110); 
    }



    .backend-progress {
        width: 95%;
        height: 10px;
        border-radius: 5px;
        background-color: rgb(110, 110, 110); 
    }

    .frontend, .backend, .design {
        margin-top: 15px;
    }
    
    .icons-table {
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .icons-table i {
        font-size: 70px;
        margin: 10px;   
        transition: .3s; 
        cursor: pointer;
    }

    .icons-table i:hover {
        color: rgb(110, 110, 110);
        transform: scale(110%);        
    }

    .tabela-tecnologias {
        width: 500px;
    }

    .tecnologias {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .info-tecnologias {
        position: relative;
        justify-content: center;
        height: 10em;
        width: 100%;
        text-align: center;
    }

    .texto-tecnologias {
        
        position: absolute;
        align-items: center;
    }


}

