@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

@media (max-width: 768px) /*MOBILE*/ {
    html {
       scroll-behavior: smooth;
   }
   
       * {
           padding: 0;
           margin: 0;
           font-family: 'Lato';
           text-decoration-color: transparent;
       }
       
       body {
           max-width: 100%;
           height: 100vh;
           width: 100%;
           color: black;
           transition: .5s;
           margin: 0;
       }
       


       .header-box {
           gap: 10px;
           padding: 20px;
           text-align: right;
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: right;
           align-items: right;
           
       }
       
       #iconcode {
          width: 400px;
          transition: .3s;
         display: none;
          
       }
       
       #iconcode:hover {
           transform: scale(105%);
        }
       
       .info {
           display: flex;
           flex-direction: column  ;
           justify-content: center;
           align-items: center;
           margin-top: 100px;
       }
       
       .home {
           text-align: center;
           font-size: 2em;
           margin: 10%;
           height: 700px;
       }
       
     
       .home-box {
            margin-top: 200px;
           justify-content: center;
           align-items: center;
           text-align: justify;
             
       }
       
       #name {
           color: aqua;
           cursor: pointer;
           transition: .4s;
           border: none;
           background-color: transparent;
       }
       
       #name-text {
           background-color: transparent;
       }
       
       #name:hover {
           outline: none;
           border: none;
           color: aqua;
           cursor: pointer;
           transform: translate(-1px,-1px);
           box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
           background-color: transparent;
       }
          
       .bt {
           text-align: center;
           margin-top: 80px;
           margin-bottom: 50px;
           justify-content: center;
           display: flex;
           flex-direction: row;
           flex-wrap: nowrap;
           align-items: center;
           
       }
       
       .botaoheader  {
           font-size: 1em;
           margin-left: 5px;
           border: double .5px transparent;
           background-color: white;
           cursor: pointer;
           transition: .3s;
           letter-spacing: 1px;
           padding: 3px;
           background-color: transparent;
           border-radius: 5px;
           text-decoration: none;
          
       }    
   
       .botaobody {
           margin: 5px;
           font-size: .7em;
           margin-left: 5px;
           border: double .5px transparent;
           background-color: white;
           cursor: pointer;
           transition: .3s;
           letter-spacing: 1px;
           padding: 3px;
           background-color: transparent;
           border-radius: 5px;
           text-decoration: none;
       }
       
       
       .botaobody:hover, .botaoheader:hover{
           transform: translate(-1px,-1px);
           box-shadow: 5px 5px 10px rgba(0, 0, 0, 50%);
           border: double .5px;
       }
       
       .botaobody:active, .botaoheader:active {
           transform: scale(90%);
       }
       
       #botao {
           
           transition: .5;
       }
       
       #darkmode-bt {
           background-color: transparent;
           border: none;
           position: absolute;
           left: 15px;
           cursor: pointer;
       }
       
       .darkmode {
           color: white;
           background-color: rgb(36, 35, 43);
       }
       
       .darkmodebotoes {
           color: white;
       }
       
       .about {
           
           margin: 0;
           justify-content: center;
           display: flex;
           flex-direction: column;
           height: 500px;
           margin-bottom: 100px;
           padding: 15px;
           padding-bottom: 300px;
       }

       .about-box {
        
        display: block;
        padding: 5px;
        justify-content: center;
        text-align: center;
       }
       
       #profile {
           
           margin-bottom: 20px;
           max-width: 100%;
           height: auto;
           border-radius: 5px;
           box-shadow: 5px 5px 10px rgba(0,0,0,50%);
           border: double .5px;
           
       }
       
      
       .contactbt {
        margin-top: 50px;
           font-size: xx-large;
           display: flex;
           justify-content: center;
       }
             
       #iconskill {
           font-size: 50px;
       }
       

       .about-text {
           justify-content: center;
           align-items: center;
           text-align: justify;
           width: 99%;
       }

       .about-text button {
            margin-top: 30px;
       }
       

       .skills {
        height: 800px;
        display: grid;
        place-items: center;
        text-align: center;
        text-align: center;
        justify-content: center;
        
    }

    .proficiencias {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        justify-content: center;
        align-items: center;
        
    }

    .backend-bar, .frontend-bar, .design-bar {        
        width: 900px;
        height: 10px;
        border-radius: 5px;
        background-color: aliceblue;
        margin-top: 8px;
    }

    .frontend-progress {
        width: 75%;
        height: 10px;
        border-radius: 5px;
        background-color: rgb(110, 110, 110); 
    }

    .design-progress {
        width: 60%;
        height: 10px;
        border-radius: 5px;
        background-color: rgb(110, 110, 110); 
    }



    .backend-progress {
        width: 95%;
        height: 10px;
        border-radius: 5px;
        background-color: rgb(110, 110, 110); 
    }

    .frontend, .backend, .design {
        margin-top: 15px;
    }
    
    .icons-table {
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .icons-table i {
        font-size: 100px;
        margin: .3em;   
        transition: .3s; 
        cursor: pointer;
    }

    .icons-table i:hover {
        color: rgb(110, 110, 110);
        transform: scale(110%);        
    }

    .tabela-tecnologias {
        width: 100%;
    }

    .tecnologias {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .info-tecnologias {
        position: relative;
        justify-content: center;
        height: 10em;
        width: 100%;
        text-align: center;
    }

    .texto-tecnologias {
        
        position: absolute;
        align-items: center;
    }


    }